<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <!-- Apply the CSS class to the image -->
            <img src="http://localhost:8090/{{book.coverImage}}" class="img-fluid rounded-start book-cover" alt="{{book.title}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{book.title}}</h3>
                <h4 class="card-name">{{book.author}}</h4>
                <p class="card-text">{{book.description}}</p>
            </div>
        </div>
    </div>
</div>